[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "18"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/form"
  to = "/.netlify/functions/next-form"
  status = 200

[[redirects]]
  from = "/studio/*"
  to = "/studio/[[...index]]/page"
  status = 200

[dev]
  command = "npm run dev"
  targetPort = 3000
  port = 8888
  publish = ".next"
  framework = "next"

# Visual Editor Settings
[visual]
  preview_branch = "preview" 